[Unit]
Description=meshboi rolodex
Wants=basic.target
After=basic.target network.target
Before=sshd.service

[Service]
Type=simple
ExecStart=/usr/local/bin/meshboi rolodex
Restart=always

[Install]
WantedBy=multi-user.target
